<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>UseCase1</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ProductServlet</display-name>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.servlets.ProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CustomerServlet</display-name>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>com.servlets.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewProductServlet</display-name>
		<servlet-name>ViewProductServlet</servlet-name>
		<servlet-class>com.servlets.ViewProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToCartServlet</display-name>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>com.servlets.AddToCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BillingServlet</display-name>
		<servlet-name>BillingServlet</servlet-name>
		<servlet-class>com.servlets.BillingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/ProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewProductServlet</servlet-name>
		<url-pattern>/viewproducts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/addcart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BillingServlet</servlet-name>
		<url-pattern>/billing</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
